html, body, #root {
  margin: 0;
  height: 100%;
  background: #0b0e11;
}
body {
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior: none;
}
input { -webkit-user-select: text; user-select: text; }
